/* ******************************************************

  this is part of the DeepNet search engine software
  Copyright 2015, Moritz Wagner
  Author: Moritz Wagner (moritz.wagner@mo-sys.de)

********************************************************* */

html
{
  height:100%\9;
}

body 
{
  margin: 0 auto;
  background: #989898;
  background: -moz-linear-gradient(top, #FFFFFF 0%, 	#989898  100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,	#989898  ));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#989898',GradientType=0 );
  background-attachment:fixed;
//  height:100%;
  font-size: 14px;
  font-family: Helvetica, Verdana, Arial, sans-serif;
}

/* undecorated links */
a.undecorated_link
{
  text-decoration: none;
  color          : #006699;
}

a.undecorated_link:hover
{
  color          : #0000FF;
}

/* toolbar links */

a.toolbar_link
{
  text-decoration: none;
  color          : #b3b3b2;
}

a.toolbar_link:hover
{
  color          : #FFFFFF;
}

/* toolbar links emphasised */

a.toolbar_link_emp:link 
{
  color: red;
}

a.toolbar_link_emp:visited
{
  color: red;
}

a.toolbar_link_emp:hover
{
  color: #FFFFFF;
}

a.toolbar_link_emp:active 
{
  color: red;
}

/* content styles */

/* div class for centering div's */
/* to do this in pure css we need 3 classes */
/* what a fuck up,... */
/*
  usage:
  <div class="wrapper">
    <div class="outer">
      <div class="inner">
        Centered objects...
      </div>
    </div>
  </div>
  <div style="clear: both; height: 0px;"></div>
*/

div.wrapper_centered
{    
  float: left;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding:10px;
  margin:0 -20px;
}

div.outer_centered
{
    clear: left;
    float: left;
    left: 25%;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}

div.inner_centered
{
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    right: 25%;
    padding:5px 20px;
    border:none;
}

/* header */

img.menu_separator
{
  padding-top: 2px;
}

#siridia_header
{
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  font-size: 60px;
  color: #676D76;
  padding: 0;
  margin: 0;
}

#page_header_container
{
  text-align: center;
}

#page_toolbar_container
{
  margin-top: 1px;
  height: 34px;
  width: 100%;
  background-image: url(/img/menu/menu_background.gif);
}

#page_toolbar_table
{
  margin: 0px;
  padding: 0px;
  font-family: "Courier New", Courier, monospace 
  /*font-family: "Arial Black", sans-serif;*/
  /*font-family: Arial, Helvetica, sans-serif;*/
  /*font-weight: bold;*/
  color      : #EDEDED;
  font-size: 14px;
}
