/* ******************************************************

  this is part of the SIRIDIA search engine software
  Copyright 2012, SIRIDIA GmbH
  Author: Moritz Wagner (moritz.wagner@siridia.de)

********************************************************* */

#form_container
{
}

#result_header
{
}

#query_form_container
{
}

#result_header_pending
{
}

#results_container_pending
{
  visibility: hidden;
  text-align: center;
}

#results_container
{
  visibility: hidden;
  text-align: left;
  margin-left: 25px;
  padding-right: 25px;
}

#search_query_id
{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  background-color: white;
}

#criteria_box_id
{
  float: left;
  border: solid 1px gray; 
  padding:  5px; 
  margin-left: 15px; 
  margin-bottom: 5px; 
  text-align: left;
}

#query_box_id
{
  border: solid 1px gray; 
  float: left;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.infoBoxButton
{
  border: solid 1px gray;
  margin-left: 5px;
  margin-bottom: 10px;
  background-color: transparent;
  font-size: 8px;
  color: blue;
}

.infoBoxContent
{
  visibility: hidden;
  border: solid 1px gray;
  height: 0;
  width: auto;
  z-index: -1;
  background-color: white;
  display: block;
}

h4.small_topic_first
{
  margin-top: 0px;
  margin-bottom: 5px;
}

h4.small_topic
{
  margin-top: 15px;
  margin-bottom: 5px;
}

font.url_font
{
  color: green;
}

.result_table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  margin-bottom: 20px;
}

.result_table th
{
}

.result_table td
{
}

.result_table tr:hover td
{
}
