"", "facebook.de"
"", "youtube.de"
"", "veoh.com"
"", "wikipedia.de"
"", "twitter.de"
"", "linkedin.com"
"", "bing.com"
"", "craigslist.org"
"", "thepiratebay.org"
"", "cnet.com"
"", "amazon.de"
"", "google.de"
"", "google.com"
"", "youtube.com"
"", "ebay.de"
"", "wikipedia.org"
"", "yahoo.com"
"", "gmx.net"
"", "facebook.com"
"", "spiegel.de"
"", "studiverzeichnis.com"
"", "web.de"
"", "live.com"
"", "wer-kennt-wen.de"
"", "blogger.com"
"", "msn.com"
"", "bild.de"
"", "myspace.com"
"", "leo.org"
"", "schuelervz.net"
"", "youporn.com"
"", "heise.de"
"", "meinvz.net"
"", "t-online.de"
"", "xing.com"
"", "chip.de"
"", "wordpress.com"
"", "immobilienscout24.de"
"", "flickr.com"
"", "1und1.de"
"", "microsoft.com"
"", "rtl.de"
"", "mobile.de"
"", "rapidshare.com"
"", "bahn.de"
"", "icq.com"
"", "mpnrs.com"
"", "www.myvideo.de"
"", "freenet.de"
"", "quelle.de"
"", "doubleclick.com"
"", "lokalisten.de"
"", "sueddeutsche.de"
"", "comdirect.de"
"", "kicker.de"
"", "stern.de"
"", "gutefrage.net"
"", "jappy.de"
"", "zanox-affiliate.de"
"", "arcor.de"
"", "apple.com"
"", "wetter.com"
"", "pornhub.com"
"", "affili.net"
"", "aol.de"
"", "welt.de"
"", "focus.de"
"", "deutsche-bank.de"
"", "sport1.de"
"", "gulli.com"
"", "stayfriends.de"
"", "adobe.com"
"", "layer-ads.de"
"", "autoscout24.de"
"", "postbank.de"
"", "otto.de"
"", "imdb.com"
"", "wer-weiss-was.de"
"", "ciao.de"
"", "dict.cc"
"", "golem.de"
"", "imageshack.us"
"", "meinestadt.de"
"", "pennergame.de"
"", "euros4click.de"
"", "kino.to"
"", "msn.de"
"", "ebay.com"
"", "partypoker.com"
"", "odnoklassniki.ru"
"", "prosieben.de"
"", "kijiji.de"
"", "mister-wong.de"
"", "sourceforge.net"
"", "faz.net"
"", "wikimedia.org"
"", "idealo.de"
"", "wetteronline.de"
"", "anonym.to"
"", "n-tv.de"
"", "xhamster.com"
"", "tchibo.de"
"", "pcwelt.de"
"", "seitwert.de"
"", "redtube.com"
"", "tagesschau.de"
"", "kwick.de"
"", "amazon.com"
"", "Twitter.com"
"", "Blogspot.com"
"", "Wordpress.org"
"", "Godaddy.com"
"", "W3.org"
"", "Digg.com"
"", "Miibeian.gov.cn"
"", "Addthis.com"
"", "Stumbleupon.com"
"", "Macromedia.com"
"", "Feedburner.com"
"", "Statcounter.com"
"", "Icio.us"
"", "Tumblr.com"
"", "Qq.com"
"", "Vimeo.com"
"", "Bit.ly"
"", "Reddit.com"
"", "Nytimes.com"
"", "Bbc.co.uk"
"", "Technorati.com"
"", "Cnn.com"
"", "Typepad.com"
"", "Livejournal.com"
"", "Free.fr"
"", "Go.com"
"", "Sina.com.cn"
"", "Aol.com"
"", "T.co"
"", "Joomla.org"
"", "Yahoo.co.jp"
"", "Tinyurl.com"
"", "Fc2.com"
"", "Geocities.com"
"", "Co.cc"
"", "Clickbank.net"
"", "Mail.ru"
"", "Taobao.com"
"", "Google.co.jp"
"", "Webs.com"
"", "Creativecommons.org"
"", "Weebly.com"
"", "Rambler.ru"
"", "About.com"
"", "Yandex.ru"
"", "Tripod.com"
"", "Gnu.org"
"", "Mozilla.org"
"", "Phpbb.com"
"", "Guardian.co.uk"
"", "51.la"
"", "Mapquest.com"
"", "Google.co.uk"
"", "Wsj.com"
"", "Squidoo.com"
"", "Photobucket.com"
"", "Alibaba.com"
"", "Cyberpolice.cn"
"", "163.com"
"", "Washingtonpost.com"
"", "Nih.gov"
"", "Ameblo.jp"
"", "Europa.eu"
"", "Reuters.com"
"", "100ye.com"
"", "Sohu.com"
"", "Rakuten.co.jp"
"", "Intoidc.net"
"", "Ezinearticles.com"
"", "Jimdo.com"
"", "Networkadvertising.org"
"", "Gmpg.org"
"", "Ning.com"
"", "Usatoday.com"
"", "Latimes.com"
"", "Mozilla.com"
"", "Huffingtonpost.com"
"", "Php.net"
"", "Homestead.com"
"", "Narod.ru"
"", "Constantcontact.com"
"", "Parallels.com"
"", "Google.fr"
"", "Diigo.com"
"", "Deviantart.com"
"", "Sakura.ne.jp"
"", "Telegraph.co.uk"
"", "Amazon.co.uk"
"", "Nifty.com"
"", "Blog.com"
"", "Wired.com"
"", "Archive.org"
"", "Ocn.ne.jp"
"", "Slideshare.net"
"", "Mit.edu"
"", "Newsvine.com"
"", "Nasa.gov"
"", "Etsy.com"
"", "Harvard.edu"
"", "Time.com"
"", "Soundcloud.com"
"", "Topsy.com"
"", "Gravatar.com"
"", "Phoca.cz"
"", "Stanford.edu"
"", "Opera.com"
"", "Mixx.com"
"", "Vkontakte.ru"
"", "Npr.org"
"", "Google.it"
"", "Angelfire.com"
"", "Dailymail.co.uk"
"", "Chime.in"
"", "Mac.com"
"", "Altervista.org"
"", "Over-blog.com"
"", "Goo.gl"
"", "Berkeley.edu"
"", "Blinklist.com"
"", "Geocities.jp"
"", "Bloomberg.com"
"", "Scribd.com"
"", "Bbb.org"
"", "Xrea.com"
"", "Boston.com"
"", "Ca.gov"
"", "Ibm.com"
"", "Wix.com"
"", "Sfgate.com"
"", "Histats.com"
"", "Hubpages.com"
"", "Mysql.com"
"", "Issuu.com"
"", "Freewebs.com"
"", "Amazon.co.jp"
"", "Foxnews.com"
"", "Bloglines.com"
"", "Goo.ne.jp"
"", "Articlesbase.com"
"", "Google.es"
"", "Google.ca"
"", "Alexa.com"
"", "Cbsnews.com"
"", "Biglobe.ne.jp"
"", "Noaa.gov"
"", "Sitemeter.com"
"", "Loc.gov"
"", "Bluehost.com"
"", "Paginegialle.it"
"", "Me.com"
"", "Pbs.org"
"", "Whitehouse.gov"
"", "Doubleclick.net"
"", "Liveinternet.ru"
"", "Slashdot.org"
"", "Furl.net"
"", "Apache.org"
"", "Newsgator.com"
"", "Last.fm"
"", "Com.com"
"", "Netvibes.com"
"", "Hatena.ne.jp"
"", "Cornell.edu"
"", "Infoseek.co.jp"
"", "Yelp.com"
"", "Oracle.com"
"", "Redcross.org"
"", "Usda.gov"
"", "Epa.gov"
"", "Independent.co.uk"
"", "Hp.com"
"", "Barnesandnoble.com"
"", "Wunderground.com"
"", "Intuit.com"
"", "Discuz.net"
"", "Techcrunch.com"
"", "Multiply.com"
"", "People.com.cn"
"", "Jugem.jp"
"", "Comsenz.com"
"", "Google.cn"
"", "Printfriendly.com"
"", "Google.nl"
"", "Opensource.org"
"", "Dedecms.com"
"", "Examiner.com"
"", "Quantcast.com"
"", "Yolasite.com"
"", "Prweb.com"
"", "Mashable.com"
"", "Nps.gov"
"", "Shinystat.com"
"", "A8.net"
"", "Drupal.org"
"", "Mediafire.com"
"", "Networksolutions.com"
"", "Xanga.com"
"", "So-net.ne.jp"
"", "Thetimes.co.uk"
"", "Engadget.com"
"", "House.gov"
"", "Cbc.ca"
"", "Skype.com"
"", "Un.org"
"", "Timesonline.co.uk"
"", "Discovery.com"
"", "Ucoz.ru"
"", "Chicagotribune.com"
"", "Prnewswire.com"
"", "Umich.edu"
"", "Paypal.com"
"", "Box.net"
"", "Exblog.jp"
"", "Who.int"
"", "Cba.pl"
"", "Amazonaws.com"
"", "Eventbrite.com"
"", "Ft.com"
"", "Dion.ne.jp"
"", "Senate.gov"
"", "Marketwatch.com"
"", "Ustream.tv"
"", "Washington.edu"
"", "Alipay.com"
"", "Sun.com"
"", "Ifeng.com"
"", "Ed.gov"
"", "Hotlog.ru"
"", "Ehow.com"
"", "Altavista.com"
"", "State.gov"
"", "Dmoz.org"
"", "Surveymonkey.com"
"", "Webstarts.com"
"", "Utexas.edu"
"", "Ftc.gov"
"", "Smh.com.au"
"", "Wetpaint.com"
"", "Hc360.com"
"", "De.vu"
"", "Google.com.au"
"", "Simplemachines.org"
"", "Disqus.com"
"", "Squarespace.com"
"", "Bizjournals.com"
"", "Google.pl"
"", "Cz.cc"
"", "Lycos.com"
"", "Uol.com.br"
"", "Wisc.edu"
"", "Twitpic.com"
"", "Theglobeandmail.com"
"", "Nature.com"
"", "Cbslocal.com"
"", "Nydailynews.com"
"", "Abc.net.au"
"", "Webmd.com"
"", "Blogs.com"
"", "Upenn.edu"
"", "Cdbaby.com"
"", "Yahoo.com.cn"
"", "Reverbnation.com"
"", "Businesswire.com"
"", "Plala.or.jp"
"", "Tripadvisor.com"
"", "Ign.com"
"", "Google.com.br"
"", "Netfirms.com"
"", "Pcworld.com"
"", "Privacy.gov.au"
"", "Blurty.com"
"", "Officelive.com"
"", "Census.gov"
"", "Shareasale.com"
"", "Economist.com"
"", "Tradedoubler.com"
"", "Youku.com"
"", "Ucla.edu"
"", "Dropbox.com"
"", "Hexun.com"
"", "Mtv.com"
"", "Intel.com"
"", "Thoughts.com"
"", "Answers.com"
"", "Bandcamp.com"
"", "Cocolog-nifty.com"
"", "Home.pl"
"", "Dyndns.org"
"", "Umn.edu"
"", "Google.ru"
"", "110mb.com"
"", "Weibo.com"
"", "Megaupload.com"
"", "Yale.edu"
"", "Howstuffworks.com"
"", "Nypost.com"
"", "Columbia.edu"
"", "Gather.com"
"", "Alibaba.com.cn"
"", "Freecsstemplates.org"
"", "Formspring.me"
"", "State.tx.us"
"", "Dagondesign.com"
"", "Hyves.nl"
"", "Artisteer.com"
"", "Businessinsider.com"
"", "Tmall.com"
"", "1and1.com"
"", "Suntimes.com"
"", "Usgs.gov"
"", "Linezing.com"
"", "Earthlink.net"
"", "Auda.org.au"
"", "E-recht24.de"
"", "Ucoz.com"
"", "Deliciousdays.com"
"", "Marriott.com"
"", "Uiuc.edu"
"", "Psu.edu"
"", "Real.com"
"", "Salon.com"
"", "Ovh.net"
"", "Usnews.com"
"", "Edublogs.org"
"", "Friendster.com"
"", "Shinobi.jp"
"", "Hostmonster.com"
"", "China.com.cn"
"", "Biblegateway.com"
"", "Youdao.com"
"", "Comcast.net"
"", "Teennick.com"
"", "Cjb.net"
"", "Roytanck.com"
"", "Unicef.org"
"", "Hostgator.com"
"", "Vargas.co.cr"
"", "Tinypic.com"
"", "Chron.com"
"", "Symantec.com"
"", "Canada.com"
"", "Virginia.edu"
"", "Cmu.edu"
"", "News.com.au"
"", "Canalblog.com"
"", "Wiley.com"
"", "Java.com"
"", "Multimap.com"
"", "Webmasterplan.com"
"", "Reference.com"
"", "Ask.com"
"", "Dell.com"
"", "Onsugar.com"
"", "Jalbum.net"
"", "Google.com.hk"
"", "Indiatimes.com"
"", "Extremetracking.com"
"", "Theatlantic.com"
"", "Csmonitor.com"
"", "Meetup.com"
"", "Warnerbros.com"
"", "Blip.tv"
"", "Net.cn"
"", "Blogplay.com"
"", "Toplist.cz"
"", "Sciencedaily.com"
"", "Unc.edu"
"", "Skyrock.com"
"", "Unesco.org"
"", "Si.edu"
"", "Philly.com"
"", "Purdue.edu"
"", "Mlb.com"
"", "Ea.com"
"", "Tudou.com"
"", "Openoffice.org"
"", "Metacafe.com"
"", "Yoyo.pl"
"", "Github.com"
"", "Fastcompany.com"
"", "4shared.com"
"", "Sogou.com"
"", "Ucsd.edu"
"", "Hilton.com"
"", "Vinaora.com"
"", "Cisco.com"
"", "Tom.com"
"", "Funpic.de"
"", "Nba.com"
"", "Aweber.com"
"", "Renren.com"
"", "Demon.co.uk"
"", "Samsung.com"
"", "Army.mil"
"", "Slate.com"
"", "Hud.gov"
"", "Folkd.com"
"", "Arizona.edu"
"", "Xe.com"
"", "Cnbc.com"
"", "Is.gd"
"", "Omniture.com"
"", "Msu.edu"
"", "Cctv.com"
"", "Ebay.co.uk"
"", "Princeton.edu"
"", "Mapy.cz"
"", "Ccbill.com"
"", "Miitbeian.gov.cn"
"", "Woothemes.com"
"", "Nhs.uk"
"", "Azcentral.com"
"", "Onet.pl"
"", "Mercurynews.com"
"", "Arstechnica.com"
"", "Cam.ac.uk"
"", "Att.com"
"", "Ufl.edu"
"", "Joomlatune.com"
"", "Accuweather.com"
"", "Freehostia.com"
"", "Dot.gov"
"", "Europa.eu.int"
"", "Bravejournal.com"
"", "Miamiherald.com"
"", "Livedoor.com"
"", "Thedailybeast.com"
"", "Denverpost.com"
"", "Cpanel.net"
"", "Wz.cz"
"", "Depositfiles.com"
"", "Pcmag.com"
"", "Indiana.edu"
"", "Boingboing.net"
"", "Orkut.com.br"
"", "Hhs.gov"
"", "Nyu.edu"
"", "Wanadoo.fr"
"", "China.com"
"", "Nokia.com"
"", "Nymag.com"
"", "Findlaw.com"
"", "Shop-pro.jp"
"", "Hotmail.com"
"", "Jevents.net"
"", "Pagesjaunes.fr"
"", "Excite.co.jp"
"", "Usc.edu"
"", "Newscientist.com"
"", "Umd.edu"
"", "Seomoz.org"
