#############################################################
#
# cs.staging.siridia.de
#
#############################################################

$HTTP["host"] =~ "^(cs\.staging\.siridia\.de|cs\.de\.siridia)$" {

  dir-listing.activate = "disable" 
  
  server.document-root = var.baseDoc + "/Scripts/webif/staging/cs"
  accesslog.filename   = var.logDir  + "/lighttpd/cs.siridia.de.access.log"

  $HTTP["url"] =~ ".*\.svn/.*" {
    url.access-deny = ( "" )
  }

  fastcgi.debug = 1
  fastcgi.server = (
    "/queryserver" => (
      "query0cs" => (
        "host"         => "127.0.0.1",
        "port"         => 20280,
        "check-local"  => "disable",
        "doc-root"     => var.baseDoc + "/Scripts/webif/queryserver/",                               
        "min-procs"    => 1,
        "max-procs"    => 4,
        "idle-timeout" => 20
      ),
      "query1cs" => (
        "host"         => "127.0.0.1",
        "port"         => 20281,
        "check-local"  => "disable",
        "doc-root"     => var.baseDoc + "/Scripts/webif/queryserver/",                               
        "min-procs"    => 1,
        "max-procs"    => 4,
        "idle-timeout" => 20
      )
    ),
    "/suggestserver" => (
            "suggest0cs" => (
        "host"         => "127.0.0.1",
        "port"         => 20320,
        "check-local"  => "disable",
        "doc-root"     => var.baseDoc + "/Scripts/webif/suggestserver/",                               
        "min-procs"    => 1,
        "max-procs"    => 4,
        "idle-timeout" => 20
      ),
            "suggest1cs" => (
        "host"         => "127.0.0.1",
        "port"         => 20321,
        "check-local"  => "disable",
        "doc-root"     => var.baseDoc + "/Scripts/webif/suggestserver/",                               
        "min-procs"    => 1,
        "max-procs"    => 4,
        "idle-timeout" => 20
      )
    )
  )
}