#############################################################
#
# siridia.org
#
#############################################################

$HTTP["host"] =~ "^(siridia\.org|www\.siridia\.org|org\.siridia)$" {

  dir-listing.activate = "disable" 

  $HTTP["url"] =~ ".*\.svn/.*" {
    url.access-deny = ( "" )
  }
  
  server.document-root = var.baseDoc + "/Scripts/webif/search/org"
  accesslog.filename   = var.logDir  + "/lighttpd/siridia.org.access.log"
}