#############################################################
#
# siridia.net
#
#############################################################

$HTTP["host"] =~ "^(siridia\.net|www\.siridia\.net|net\.siridia)$" {

  dir-listing.activate = "disable" 

  $HTTP["url"] =~ ".*\.svn/.*" {
    url.access-deny = ( "" )
  }
  
  server.document-root = var.baseDoc + "/Scripts/webif/search/net"
  accesslog.filename   = var.logDir  + "/lighttpd/siridia.net.access.log"
}