.menu {
  padding: 10px;
  font-family: Arial;
}

.menu a {
  text-decoration: none;
}
.menu a:hover {
  font-weight: bold;
}
.menu a:visited {
  color: blue;
}

#menu_wrapper {
  background-color: #A0A0A0;
}
