<?php
#########################################################
#
# this is part of the SIRIDIA search engine software
# Copyright 2012, SIRIDIA GmbH
# Author: Moritz Wagner (moritz.wagner@siridia.de)
#
#########################################################

class DatabaseConfig
{
  static public $databaseHost = "localhost";
  static public $databaseUser = "root";
  static public $databasePass = "password";
}
?>