<dictionary file="small_text.txt" >
<content>
<keyword id="0"><word>This</word><occurrence>1</occurrence><spell>1</spell><proposals><proposal>Thia</proposal><proposal>His</proposal><proposal>Tish</proposal><proposal>T%20his</proposal><proposal>Th%20is</proposal><proposal>Shit</proposal><proposal>Thus</proposal><proposal>Tis</proposal><proposal>Hist</proposal></proposals></keyword>
<keyword id="1"><word>Why</word><occurrence>1</occurrence><spell>1</spell><proposals><proposal>Hwy</proposal><proposal>Why</proposal></proposals></keyword>
<keyword id="2"><word>all</word><occurrence>1</occurrence><spell>1</spell><proposals><proposal>all</proposal><proposal>ll</proposal><proposal>a%20ll</proposal></proposals></keyword>
<keyword id="3"><word>also</word><occurrence>1</occurrence><spell>1</spell><proposals><proposal>also</proposal></proposals></keyword>
<keyword id="4"><word>and</word><occurrence>1</occurrence><spell>1</spell><proposals><proposal>ans</proposal><proposal>an</proposal><proposal>ad</proposal><proposal>an%20d</proposal></proposals></keyword>
<keyword id="5"><word>are</word><occurrence>1</occurrence><spell>1</spell><proposals><proposal>era</proposal><proposal>ate</proposal><proposal>arr</proposal><proposal>re</proposal><proposal>ear</proposal><proposal>a%20re</proposal></proposals></keyword>
<keyword id="6"><word>available</word><occurrence>1</occurrence><spell>1</spell><proposals><proposal>available</proposal><proposal>avail%20able</proposal></proposals></keyword>
<keyword id="7"><word>can</word><occurrence>1</occurrence><spell>1</spell><proposals><proposal>Can</proposal><proposal>van</proposal><proposal>cab</proposal><proposal>cam</proposal><proposal>ca</proposal><proposal>an</proposal><proposal>c%20an</proposal><proposal>ca%20n</proposal></proposals></keyword>
<keyword id="8"><word>codes</word><occurrence>1</occurrence><spell>1</spell><proposals><proposal>coded</proposal><proposal>code</proposal><proposal>cod%20es</proposal><proposal>code%20s</proposal></proposals></keyword>
<keyword id="9"><word>do</word><occurrence>1</occurrence><spell>1</spell><proposals><proposal>so</proposal><proposal>d</proposal><proposal>o</proposal></proposals></keyword>
<keyword id="10"><word>error</word><occurrence>1</occurrence><spell>1</spell><proposals><proposal>error</proposal><proposal>err%20or</proposal></proposals></keyword>
<keyword id="11"><word>fix</word><occurrence>1</occurrence><spell>1</spell><proposals><proposal>fox</proposal><proposal>ix</proposal><proposal>f%20ix</proposal></proposals></keyword>
<keyword id="12"><word>if</word><occurrence>1</occurrence><spell>1</spell><proposals><proposal>of</proposal><proposal>id</proposal><proposal>i</proposal><proposal>f</proposal></proposals></keyword>
<keyword id="13"><word>in</word><occurrence>1</occurrence><spell>1</spell><proposals><proposal>IN</proposal><proposal>In</proposal><proposal>on</proposal><proposal>i</proposal><proposal>n</proposal></proposals></keyword>
<keyword id="14"><word>included</word><occurrence>1</occurrence><spell>0</spell><proposals><proposal>include</proposal><proposal>include%20d</proposal><proposal>conclude</proposal></proposals></keyword>
<keyword id="15"><word>includes</word><occurrence>1</occurrence><spell>0</spell><proposals><proposal>include</proposal><proposal>include%20s</proposal><proposal>inclusive</proposal></proposals></keyword>
<keyword id="16"><word>libcurl</word><occurrence>1</occurrence><spell>0</spell><proposals><proposal>lib%20curl</proposal><proposal>curlicue</proposal></proposals></keyword>
<keyword id="17"><word>man</word><occurrence>1</occurrence><spell>1</spell><proposals><proposal>Man</proposal><proposal>ma</proposal><proposal>an</proposal><proposal>m%20an</proposal><proposal>ma%20n</proposal></proposals></keyword>
<keyword id="18"><word>most</word><occurrence>1</occurrence><spell>1</spell><proposals><proposal>mist</proposal><proposal>moat</proposal><proposal>mos</proposal><proposal>mot</proposal><proposal>mo%20st</proposal><proposal>mos%20t</proposal></proposals></keyword>
<keyword id="19"><word>not</word><occurrence>1</occurrence><spell>1</spell><proposals><proposal>ton</proposal><proposal>bot</proposal><proposal>mot</proposal><proposal>nit</proposal><proposal>nor</proposal><proposal>no</proposal><proposal>no%20t</proposal></proposals></keyword>
<keyword id="20"><word>occur</word><occurrence>1</occurrence><spell>1</spell><proposals><proposal>occur</proposal></proposals></keyword>
<keyword id="21"><word>page</word><occurrence>1</occurrence><spell>1</spell><proposals><proposal>gape</proposal><proposal>Page</proposal><proposal>age</proposal><proposal>p%20age</proposal></proposals></keyword>
<keyword id="22"><word>possibly</word><occurrence>1</occurrence><spell>1</spell><proposals><proposal>possibly</proposal></proposals></keyword>
<keyword id="23"><word>problem</word><occurrence>1</occurrence><spell>1</spell><proposals><proposal>problem</proposal></proposals></keyword>
<keyword id="24"><word>the</word><occurrence>1</occurrence><spell>1</spell><proposals><proposal>th</proposal><proposal>he</proposal><proposal>t%20he</proposal><proposal>th%20e</proposal></proposals></keyword>
<keyword id="25"><word>they</word><occurrence>1</occurrence><spell>1</spell><proposals><proposal>the</proposal><proposal>thy</proposal><proposal>hey</proposal><proposal>t%20hey</proposal><proposal>the%20y</proposal></proposals></keyword>
<keyword id="26"><word>to</word><occurrence>1</occurrence><spell>1</spell><proposals><proposal>yo</proposal><proposal>ti</proposal><proposal>t</proposal><proposal>o</proposal></proposals></keyword>
<keyword id="27"><word>what</word><occurrence>1</occurrence><spell>1</spell><proposals><proposal>thaw</proposal><proposal>hat</proposal><proposal>w%20hat</proposal></proposals></keyword>
<keyword id="28"><word>you</word><occurrence>1</occurrence><spell>1</spell><proposals><proposal>yo</proposal><proposal>yo%20u</proposal></proposals></keyword>
</content>
<meta>
</meta>
</dictionary>
