Package: deepnet
Version: 1.0-1
Section: base
Priority: optional
Architecture: all
Depends: 
Maintainer: Moritz Wagner <moritz.wagner@mo-sys.de>
Description: Search Engine
 A complete framework to operate your own search engine.
